aiosqlite
accelerate
chromadb
diffusers
docx2txt
Faker==30.6.0
fastapi[standard]>=0.115.0,<0.116.0
fpdf==1.7.2
imaginairy
langchain
langchain-community
langchain-ollama
numpy
openpyxl==3.1.5
opencv-python==4.10.0.84
passlib
pillow==11.0.0
pipdeptree
pydantic==2.9.2
python-docx==1.1.2
python-jose
python-pptx==1.0.2
pyttsx3
pyzipper==0.3.6
pypdf
requests==2.32.3
rarfile==4.2
scipy
safetensors
tqdm
torch
transformers
uvicorn==0.32.0
watchdog
zipstream==1.1.4
