aiosqlite
chromadb
databases
docx2txt
fastapi==0.115.5
imaginairy
jinja2
numpy<2
ollama
passlib
pipdeptree
python-docx
python-jose
PyPDF2
requests==2.32.3
scikit-learn
SQLAlchemy==2.0.35
tqdm
torch==2.2.2
transformers
uvicorn==0.32.0
watchdog
